@import "./modules/fonts";
@import "./modules/variable";
@import "./modules/mixing";
@import "./modules/commonStyle";

// section
@import "./partials/background";
@import "./partials/main";
@import "./partials/about";

// skill section
#skill {
    height: 100vh;
    .container {
        height: 100%;
        .section-title {
            padding-top: 45px;
        }
    }

    // svg
    .svg-wrapper {
        @extend %center;
        svg {
            min-width: 300px;
            width: 75%;
            max-width: 600px;
            @include resp($mxl) {
                max-width: 750px;
            }
        }
    }
}
// projects
#projects {
    .container {
        padding-top: 40px;
        .section-title {
            column-gap: 2px;
        }
    }

    // project list
    .project-list {
        margin-top: 100px;
        @extend .coating-parent;
        .background {
            @extend .coating-child;
            @extend %center;
            // display: none;
            svg {
                width: 80px;
                height: 100%;
            }
        }
        .project-wrap {
            @extend .coating-child;
            display: grid;
            justify-items: center;
            // margin-top: 100px;
            row-gap: 80px;
            @include resp($sm) {
            }
            @include resp($md) {
                row-gap: 120px;
            }
            .pro-card {
                &:nth-child(even) {
                    justify-self: end;
                }
                &:nth-child(odd) {
                    justify-self: start;
                }
            }
        }
    }
}

// project list
.pro-card {
    @extend .coating-parent;
    width: 100%;
    max-width: 320px;
    @include resp($md) {
        max-width: 400px;
    }
    @include resp($mxl) {
        max-width: 500px;
    }
    img {
        display: inline-block;
    }
    .bg,
    .details {
        @extend .coating-child;
        width: 100%;
    }
    .bg {
        width: 80%;
        // display: none;
        img {
            width: 100%;
        }
    }

    .details {
        width: 90%;
        margin-left: auto;
        margin-top: 45px;
        @include resp($md) {
            margin-top: 55px;
        }
        @include resp($mxl) {
            margin-top: 65px;
        }
        h1 {
            font-family: "brolimo";
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
            @include resp($md) {
                font-size: 25px;
            }
            @include resp($mxl) {
                font-size: 35px;
            }
        }
        .img-wrap {
            // height: 220px;
            img {
                width: 100%;
            }
        }
        .link {
            text-align: center;
            margin-top: -24px;
            @include resp($xxl) {
                margin-top: -30px;
            }
            a {
                display: inline-flex;
                background-color: $mainHeading;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                @extend %center;
                img {
                    width: 32%;
                }
                @include resp($xxl) {
                    width: 55px;
                    height: 55px;
                }
            }
        }
    }
    &:nth-child(even) {
        .bg {
            margin-left: auto;
        }
        .details {
            margin-left: initial;
            h1 {
                text-align: right;
            }
            .link {
                @include resp($md) {
                    text-align: left;
                    margin-left: -30px;
                }
                a {
                    @include resp($md) {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    &:nth-child(odd) {
        .details {
            // margin-left: auto;
            .link {
                @include resp($md) {
                    text-align: right;
                    margin-right: -30px;
                }
                a {
                    @include resp($md) {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}

// animation

@keyframes slide-left {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes slide-right {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

// project slider
#project-slider {
    .slider-wrap {
        // overflow: hidden;
    }
    .slider {
        // overflow-x: hidden;
        display: flex;
        flex-wrap: nowrap;
        column-gap: 10px;
        margin-bottom: 10px;
        @include resp ($lg) {
            column-gap: 15px;
            margin-bottom: 15px;
        }
        &:first-child {
            animation: slide-left 50s linear infinite;
        }
        &:last-child {
            animation: slide-right 50s linear infinite;
            margin-left: -50px;
        }
        img {
            flex-shrink: 0;
            width: 100px;
            @include resp ($sm) {
                width: 120px;
            }
            @include resp ($md) {
                width: 150px;
            }
        }
    }
}
