.strip {
    width: 100%;
    background-color: $bg;
    overflow: hidden;
    margin-bottom: 50px;
    @include resp($md) {
        margin-bottom: 70px;
    }
    @include resp($xl) {
        margin-bottom: 100px;
    }

    .strip-slide {
        display: flex;
        flex-flow: row nowrap;
        // animation: slide-left 150s linear infinite;
        @include py(8px, 8px);
        // border: 2px solid black;
        border: 0.5px solid $mainHeading;
        border-left: none;
        border-right: none;
        // width: 7000px;
        column-gap: 12px;
        @include resp($md) {
            @include py(6px, 6px);
            column-gap: 15px;
        }
        @include resp($xl) {
            @include py(8px, 8px);
            column-gap: 20px;
        }
        @include resp($xxl) {
            @include py(10px, 10px);
            border-width: 2px;
        }
        .slider {
            display: flex;
            flex-flow: row nowrap;
            flex-shrink: 0;
            align-items: center;
            // column-gap: 20px;
            column-gap: 12px;
            @include resp($md) {
                column-gap: 15px;
            }
            @include resp($xl) {
                column-gap: 20px;
            }
            p {
                flex-shrink: 0;
                font-family: "mak";
                font-weight: 100;
                font-size: 15px;
                // font-size: 8px;
                color: $mainHeading;
                @include resp($md) {
                    font-size: 18px;
                }
                @include resp($xl) {
                    font-size: 20px;
                }
                // @include resp($xxl) {
                //     font-size: 22px;
                // }
                @include resp($mxl) {
                    font-size: 22px;
                }
            }
            .icon {
                flex-shrink: 0;
                width: 20px;
                @include resp($lg) {
                    width: 25px;
                }
                @include resp($mxl) {
                    width: 30px;
                }
                path {
                    stroke: $mainHeading;
                }
            }
        }
    }
}
#about {
    // @extend %fullHW;
    // margin-top: 40px;
    min-height: 100vh;
    @include laptop {
        margin-top: 60px;
    }
    @include resp($mxl) {
        margin-top: 80px;
    }
    // stripe slide
    .container {
        // padding-top: 40px;
        height: 100vh;
        display: grid;
        grid-template:
            "title" 50px
            "content" auto / 1fr;

        .section-title {
            grid-area: title;
        }
        .discription {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            row-gap: 50px;
            // margin-top: 50px;
            grid-area: content;
            align-self: center;
            @include resp($lg) {
                flex-flow: row wrap;
                justify-content: center;
                // display: grid;
                // grid-template-columns: 1fr 3fr;
                column-gap: 80px;
                // margin-top: 0px;
            }
            @include resp($xl) {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                display: grid;
                grid-template-columns: 1fr 3fr;
                column-gap: 100px;
            }
            @include resp($xxl) {
                column-gap: 100px;
            }
            @include resp($mxl) {
                column-gap: 160px;
            }
            .image {
                width: 185px;
                height: 185px;
                @include resp($sm) {
                    width: 210px;
                    height: 210px;
                }
                @include resp($md) {
                    width: 250px;
                    height: 250px;
                }
                // @include resp ($lg) {
                //     width: 280px;
                //     height: 300px;
                // }
                @include resp($xl) {
                    width: 375px;
                    height: 375px;
                }
                @include laptop {
                    width: 340px;
                    height: 340px;
                }
                @include resp($mxl) {
                    width: 420px;
                    height: 420px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .text {
                font-family: "kurye";
                font-size: 20px;
                line-height: 140%;
                text-align: center;
                color: #343a40;
                @include resp($sm) {
                    font-size: 22px;
                    text-align: left;
                }
                @include resp($md) {
                    font-size: 25px;
                }
                @include resp($lg) {
                    max-width: 560px;
                }
                @include resp($xl) {
                    font-size: 30px;
                    max-width: initial;
                }
                @include resp($xxl) {
                    font-size: 32px;
                }
                @include resp($mxl) {
                    font-size: 40px;
                }
                .img {
                    width: 32px;
                    height: 45px;
                    display: inline-block;
                    position: relative;
                    margin-left: 10px;
                    margin-right: 10px;
                    transform: translateY(-16px);
                    overflow: hidden;
                    
                    @include resp($sm) {
                        // width: 25px;
                    }
                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 1000;
                        background-color: #343a40;
                    }
                    img {
                        width: 20px;
                        height: 30px;
                        display: inline-block;
                        position: absolute;
                        left: 0px;
                        top: 0;
                        @include resp($md) {
                            width: 25px;
                            height: 35px;
                        }
                        @include resp($xl) {
                            width: 22px;
                            height: 30px;
                        }
                        @include resp($xxl) {
                            width: 26px;
                            height: 34px;
                        }
                        @include resp($mxl) {
                            width: 32px;
                            height: 43px;
                        }
                    }
                }
                .letter-wrap {
                    margin-left: 10px;
                    overflow: hidden;
                }
            }
        }
    }
}

#squre-circle {
    // margin-top: 50px;
    margin-bottom: 100px;
    @include resp ($xxl) {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    @include resp ($mxl) {
        margin-top: 50px;
        margin-bottom: 200px;
    }
    .wrapper {
        width: 100%;
        // height: 200px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        // position: relative;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: #c9cba3;
        //     filter: blur(50px);
        // }
        svg {
            width: 100%;
            height: 100%;
            grid-row: 1/-1;
            grid-column: 1/-1;
            position: relative;
            z-index: 50;
        }
        .mask {
            width: 100%;
            height: 60%;
            grid-row: 1/-1;
            grid-column: 1/-1;
            background: #c9cba3;
            filter: blur(20px);
            @include resp($sm) {
                height: 50%;
                filter: blur(50px);
            }
            @include resp($md) {
                height: 40%;
            }
            @include resp($xxl) {
                filter: blur(100px);
            }
        }
        path {
            // &:hover {
            //     transform: rotate(90deg);
            // }
        }
    }
}
