$red: #ff6360;
$blue: #7fdeff;
$yellow: #ffe198;
.bg-color-mask {
    width: 100vw;
    height: 100vh;
    background: $bg;
    position: fixed;
    left: 0;
    top: 0;
    @extend %center;
    .item-wrap {
        // width: 200px;
        // height: 400px;
        display: grid;
        grid-template: 
                        "red" 200px
                        "blue" 200px
                        "yellow" 200px / 200px
        ;
        
        position: relative;
        & > div {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            filter: blur(60px);
            justify-self: center;
        }
        .red {
            align-self: flex-start;
            background-color: $red;
            grid-area: red;
        }
        .blue {
            background-color: $blue;
            grid-area: blue;
        }
        .yellow {
            background-color: $yellow;
            grid-area: yellow;
            align-self: flex-end;
        }
    }
}
