@mixin genFonts($name, $url) {
    @font-face {
        font-family: $name;
        src: url("../../fonts/#{$url}");
    }
}

@include genFonts("brolimo", "BROLIMO-Regular.ttf");
@include genFonts("mak", "MAK.otf");
@include genFonts("quanty", "Quanty.otf");
@include genFonts("kurye", "Kurye-Light.otf");
@include genFonts("kuryeItalic", "Kurye-LightItalic.otf");
@include genFonts("roboto", "Roboto-Black.ttf");

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    //   font-size: calc($min-font-size + ($max-font-size - $min-font-size) * ((100vw - $min-vw) / ($max-vw - $min-vw)));

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit(
                            $max-font-size - $min-font-size
                        )} *
                        (
                            (100vw - #{$min-vw}) / #{strip-unit(
                                    $max-vw - $min-vw
                                )}
                        )
                );
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}
